
* {
    margin: 0;
    padding:0;
  }
.form-container{
	width:450px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.title-container{
  display: flex;
  justify-content: space-between;
  background: #2A88AD;
  border-radius: 10px 10px 0 0;
  padding: 20px 30px 15px 30px;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
  border: 1px solid #257C9E;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}

.title-container-right a, .header a{
  text-decoration: none;
  color: #fff;
}


h1.form-title{
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;	
  text-align: center;
  font-weight: bold;
  margin: 30px auto 15px auto;
}
.register-button {
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.left-header {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}

.right-header {
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}

p.login-user{
  color: #fff;
  margin-right: 20px;
}
a.register-button:link {
  color: #fff;border-top: none;
  text-decoration: none;

}

p a.sign-up {
  text-decoration: none;
  color: #fff;
}

form {
  padding:30px;
}
.title-container-left p{
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
  color: #fff;
}

.error-messages-container{
  margin-bottom: 30px;
}
.error-messages{
  color: #ff0000; 
}
  div.registration-item-form {
    padding: 30px;
    background-color: rgba(32, 32, 32, 0.55);
    border-radius: 6px;
    margin-bottom: 15px;
  
  }
a.link {
  color: #fff;
  text-decoration: none;
}

  form .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
  }

  div.registration-item-form input {
    border:1px solid #808080;
    padding: 8px 130px 8px 20px;
    margin:4px 10px 4px 10px;
	border-radius: 5px;
    color: #808080;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	font: normal 15px 'Bitter', serif;
    font-size: 1.5en;
  }

  .section{
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
  }

  div.registration-item-form-button button, .form-footer button {
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
  }

  div.registration-item-form-button button:hover {
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  }

  div.container {
    margin: 0;
    background: url(/static/images/macbook_grey_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position:fixed;
    width: 100%;
    height: 100%;
  }

.login-container{
  margin: 0;
  background: url(/static/images/sunlit_path_in_forest.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position:fixed;
  width: 100%;
  height: 100%;
}

.left-header .btn {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 30px;
  padding-right: 7px;

}
  .background-color {
    background-color: rgba(32, 32, 32, 0.4);
  }

.password-container{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.form-container-post-challenge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:450px;
	margin:40px auto;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  
}
.code-challenge{
  font-size: 1.2rem;
color: #fff;
}
.form-footer{
  display: flex;
  justify-content: space-between;
}
textarea {
  margin-bottom: 10px;
}
  .forgot-password a {
    color: #fff;
    text-decoration: none;
  }

.view-challenge{
  
  margin-top:6px;
}

.view-challenge a, div.code-submitter a {
  color: #fff;
  text-decoration: none;
}
  div.forgot-password{
    margin-top: 4px;
  }

.challenges-container{
  background-color: #6d6d6d;
}

div.code-challenge-list-container{
  margin-top: 50px;
  padding-bottom: 40px;
}

p.code-challenge-list a{
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
p.code-challenge-list{
  margin-left:  30px;
  color: rgb(247, 78, 78);
  font-weight: bold;
  font-size: 1.4rem;
}

div.code-submitter{
  margin-left: 30px;
}

.code-submitter button{
  background: #fc3029;
  padding: 3px 11px 3px 11px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 12.5px;
  margin-left: 12px;
}