* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding:0;
  }
.form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
form{
  width: 400px;
  height: 40px;
}
.form-title{
  margin-bottom: 30px;
}
.error-messages-container{
  margin-bottom: 30px;
}
.error-messages{
  color: red; 
}
  div.registration-item-form {
      display: flex;
      justify-content:center;
      margin-bottom: 5px;
  }
  div.registration-item-form input {
    border-color: #808080;
    border-width: 1px;
    width: 75%;
    font-size: 1.5en;
  }
  div.registration-item-form button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
  }
