* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding:0;
  }
.form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-title{
  margin-bottom: 30px;
}
.error-messages-container{
  margin-bottom: 30px;
}
.error-messages{
  color: red; 
}
  div.registration-item-form {
      display: flex;
      justify-content:center;
      margin-bottom: 5px;
  }
