<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Jacob Schatz Webpage</title>
    {% endblock %}
    <meta charset="UTF-8">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "forgotten-password-container">
        <div class = "home-button"> <a href = "/">Home</a> </div>
        <h1 class = "form-title">Reset Password</h1>
        <form action= '/user/registration' method="POST">
            {% csrf_token %}

            <div class= "registration-item-form">
                <input type='text' name= 'username' placeholder = 'Epic Name'>
            </div>
            <div class= "registration-item-form">
                <input type='email' name= 'email' placeholder = 'Email'>
            </div>
            <div class= "registration-item-form">    
                <input type="password" name = 'password' placeholder = 'Password'>
                <input type = "password" name = 'confirm_pw' placeholder = 'Confirm Password'>
            </div>
            <div class= "registration-item-form-button">
                <button>Submit</button>
            </div>
        </form>
        

    </div>