<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    <title>Jacob Schatz Webpage</title>
    
    <meta charset="UTF-8">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "login-container">
        <div class ="background-color-login">
            <div class="header-login">
                <div class="left-header"> 
                  <a class = "btn" title="Home" href = "/">Home</a> 
                  <a class="btn" title="About" href="/about">About </a>
                  <a class="btn" title="Contact" href="/contact">Contact</a>
              </div>
              </div>
        <h1 class = "form-title">Thou hast the key... Must enter with will</h1>
        

        <form action= '/user/login' method="POST">
            <p><a class = "register-button" href="/registration">Join the Brotherhood</a></p>
            {% csrf_token %}
            <div class="signin-messages-container">
                {% if messages %}
                {% for message in messages %}
                <div class = "error-messages">{{message}}</div>
                {% endfor %}
                {% endif %}
              </div>
            
            <div class= "registration-item-form">
                <input type='email' name= 'email' placeholder = 'Epic Name'>
            </div>
            <div class= "registration-item-form">    
                <input type="password" name = 'password' placeholder = 'Password'>
            </div>
            <div class= password-container>
                <div class= "registration-item-form-button">
                    <button>SIGN IN</button>
                </div>
                <div class = "forgot-password"> <a class = "reset-button" href = "/reset_password">Forgot Password</a> </div>
              
            
        </div>
        </form>
    </div>

    </div>
 
    {% endblock %}
</body>
</html>
