<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Jacob Schatz Webpage</title>
    {% endblock %}
    <meta charset="UTF-8">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "login-container">
        <div class = "home-button"> <a href = "/">Home</a> </div>
        <h1 class = "form-title">Thou hast the key... Must enter with will</h1>
        <p><a href="/registration">Join the Brotherhood</a></p>
        <form action= '/user/login' method="POST">
            
            {% if signin_messages %}
            <ul class="signin_messages">
                {% for message in signin_messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                  {{message}}
                </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% csrf_token %}
            <div class= "registration-item-form">
                <input type='email' name= 'email' placeholder = 'Epic Name'>
            </div>
            <div class= "registration-item-form">    
                <input type="password" name = 'password' placeholder = 'Password'>
            </div>
            <div class = "forgot_password"> <a href = "/forgot_password_page">Forgot Password</a> </div>
            <div class= "registration-item-form-button">
                <button>SIGN IN</button>
            </div>
        </form>
        

    </div>
</body>