<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

    <h1>Sign up to join an epic website</h1>
    <form action= '/user/registration' method="POST">
        {% csrf_token %}
        <input type='text' name= 'first_name' placeholder = 'First Name'>
        <input type='text'name = 'last_name' placeholder = 'Last Name'>
        <input type="email" name = 'email' placeholder = 'Email'>
        <input type="password" name = 'password' placeholder = 'Password'>
        <input type = "password" name = 'confirm_pw' placeholder = 'Confirm Password'>
        <button>Submit</button>

    </form>
    
</body>
</html>