<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Jacob Schatz Webpage</title>
    {% endblock %}
    <meta charset="UTF-8">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <div class = "form-container">
        <div class = "title-container">
            <div class = "title-container-left">
                <h1 class= "form-title">Sign up Now! </h1>
                <p>Sign up to join an EPIC website</p>
            </div>
            <div class = "title-container-right"><a href= "/login_page"> Brotherhood Member </a>
            </div>
        </div>
        <div class = "error-messages-container">
            {% for message in messages %}
                <p class = "error-messages">{{message}}</p>
            {% endfor %}
        </div>
        <form action= '/user/registration' method="POST">
            {% csrf_token %}
            <div class="section"><span>1</span>First & Last Name</div>
            <div class= "registration-item-form">
                <input type='text' name= 'first_name' placeholder = 'First Name'>
                <input type='text'name = 'last_name' placeholder = 'Last Name'>
            </div>
            <div class="section"><span>2</span>Email</div>
            <div class= "registration-item-form">
                <input type="email" name = 'email' placeholder = 'Email'>
            </div>
            <div class="section"><span>3</span>Passwords</div>
            <div class= "registration-item-form">    
                <input type="password" name = 'password' placeholder = 'Password'>
                <input type = "password" name = 'confirm_pw' placeholder = 'Confirm Password'>
            </div>
            <div class= "registration-item-form-button">
                <button>Submit</button>
            </div>
        </form>
        </div>
    </div>
    
</body>
</html>