<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    <title>Jacob Schatz Webpage</title>
    {% endblock %}
    <meta charset="UTF-8">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Welcome {{user.first_name}}</p>
    <div>{{post_challenge.title}}</div>
</body>