<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    <title>Jacob Schatz Webpage</title>
    {% endblock %}
    <meta charset="UTF-8">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Welcome {{user.first_name}}</p>
    {% for challenge in challenges %}
    <ul>
        <li>
            <p><a href="/snacks/{{snack.id}}">{{challenge.title}} </a>by: <a href="/snack_publisher/{{snack.publisher.id}}">{{challenge.publisher.first_name}} {{challenge.publisher.last_name}}</a>
                {% if request.session.user_id == challenge.publisher.id %}
                <button><a href="/snacks/{{snack.id}}/delete">Delete</a></button>
                {% endif %}
            </p>
            <p>{{challenge.description}}</p>
                    
        </li>
    </ul>
    {% endfor %}
</body>