<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}} {{user.last_name}} Profile</title>
</head>
<body>
    <p>Welcome {{user.first_name}}</p>
    <a href="/user/logout">Log Out</a>
    <div><a href ="/post_challenge/challenges">Back to Coding Challenges</a></div>
 
    <p>Welcome {{user.first_name}} {{user.last_name}}</p>
    <a href="/user/logout">Log Out</a>
    {% if user.codechallenges.all.count == 1 %}
    <div>{{user.codechallenges.all.count}} Coding Challenge</div>

    {% else %}
    <div>{{user.codechallenges.all.count}} Coding Challenges</div>
    {% endif %}

    {% for challenge in user.codechallenges.all %}
    <p><a href="/post_challenge/coding_challenges/{{challenge.id}}">{{challenge.title}} </a>
    {% endfor %}
    
    {% if request.session.user_id == user.id %}
    <h2>Edit profile</h2>
    <form action= '/users/update' method="POST">
        {% csrf_token %}
        <div class= "registration-item-form">
            <input type='text' name= 'first_name' placeholder = 'First Name'>
            <input type='text'name = 'last_name' placeholder = 'Last Name'>
        </div>

        <div class= "registration-item-form">
            <input type="email" name = 'email' placeholder = 'Email'>
        </div>

        <div class= "registration-item-form">   
            <input type="password" name = 'current_password' placeholder = 'Current Password'> 
            <input type="password" name = 'new_password' placeholder = 'New Password'>
            <input type="password" name = 'confirm_new_pw' placeholder = 'Confirm Password'>
        </div>
            <textarea rows="10" cols="100" name="challenge_question" placeholder="Please enter challenge question">
            </textarea>
        <div class= "registration-item-form-button">
            <button>POST</button>
        </div>
    </form>
    </form>
    {% endif %}
</body>
</html>