<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{challenge.title}} Question Challenge</title>
</head>
<body>
    <p>Welcome {{user.first_name}}</p>
    <div><a href ="/post_challenge/challenges">Back to Coding Challenges</a></div>
    <div><a href="/user/logout">Log Out</a></div>
    <center>{{challenge.title}}</center>
    <p>{{challenge.challenge_question}}</p>
</body>
</html>