<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '../static/styles.css' %}" rel="stylesheet" type="text/css" />
    <title>{{challenge.title}} Question Challenge</title>
</head>
<body> 
    <div class="body-container">
      <header>
      <div class="contact-header-container">
    <div class="contact-header">
      <div class="left-header"> 
        <a class="btn" title="Home" href = "/">Home</a> 
        <a class="btn" title="About" href="/about">About </a>
        <a class="btn" title="Coding Challenges" href ="/post_challenge/challenges">Coding Challenges</a>
        <a class="btn" title="Contact" href="/contact">Contact</a>
      </div>

    <div class="right-header">
      <p class="login-user">
        WELCOME {{user.first_name}} {{user.last_name}}!!! 
      </p>
      <a id="log-out" href="/user/logout">Log Off</a>
    </div>
    </div>
      </div>
  </header>
  
   
    
    <div class= "challenge-container">
      <h1 class="title">{{challenge.title}}</h1>
    <p class="challenge-question-container">{{challenge.challenge_question}}</p>
    </div>
</div>
</body>
</html>