<!DOCTYPE html>
<html>

<head>
  {% block title %}
  <title>Jacob Schatz Website</title>
  {% endblock %}
  <meta charset="utf-8" />
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<meta name="viewport" content="width=device-width, initial-scale=1" />
{% load static %}

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  <link href="{% static '../static/styles.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>
    Login
</body>