<!DOCTYPE html>
<html>

<head>
  {% block title %}
  <title>Jacob Schatz Website</title>
  {% endblock %}
  <meta charset="utf-8" />
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<meta name="viewport" content="width=device-width, initial-scale=1" />
{% load static %}

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  <link href="{% static '../static/styles.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="body-container">
      <div class="header-courses">
        <div class="sent-email-header">
          <div class="left-header"> 
            <a class = "btn" title="Home" href = "/">Home</a> 
            <a class="btn" title="About" href="/about">About </a>
            <a class="btn" title="Post Challenge" href="/success"> Post Challenge</a>
            <a class="btn" title="Contact" href="/contact">Contact</a>
        </div>

          <div class="right-header">
          <p class="login-user">
            Signed In: {{request.session.user_id}} {{user.last_name}}!
          </p>
          <a id="log-out" href="/user/logout">Log Off</a>
        </div>
        </div>
      </div>
        <center>
            <h2 class="sent-mail-username">Thanks {{username}}!</h2>
            <p class="sent-mail-message">Appreciate you sending me a message!</p>
        </center>
    </div>

</body>