<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    <title>Jacob Schatz Webpage</title>
    {% endblock %}
    <meta charset="UTF-8">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

  <body>
    <div class="container">
      <div class="background-color">
      <div class="header-courses">
        <div class="header">
          <div class="left-header"> 
            <a class = "btn" href = "/">Home</a> 
            <a class="btn" href="/about">About </a>
            <a class="btn" href="/contact">Contact</a>
        </div>

          <div class="right-header">
          <p class="login-user">
            WELCOME {{user.first_name}} {{user.last_name}}! 
          </p>
          <a id="log-out" href="/user/logout">Log Off</a>
        </div>
        </div>
      </div>

      <div class = "coding-challenge-container">
        
        <h1 class = "form-title">Post Coding Challenge</h1>
        <form class= "form-container-post-challenge" action= '/post_challenge' method="POST">
            {% csrf_token %}
            <div class="signin-messages-container">
                {% if messages %}
                {% for message in messages %}
                <div class = "error-messages">{{message}}</div>
                {% endfor %}
                {% endif %}
              </div>
            <div class ="code-challenge">Title of Code Challenge</div>
            <div class= "registration-item-form">
                <input type='text' name= 'title'>
            </div>
            <div class ="code-challenge">Enter Coding Challange Below</div>
              <textarea rows="10" cols="50" name="challenge_question" placeholder="Please enter challenge question">
              </textarea>
            <div class= "form-footer">
                <button>POST</button>
                <div class="view-challenge"><a href ="/post_challenge/challenges">View Challenges</a></div>
            </div>
        </form>
      </div>
<p><a class ="link" href="https://unsplash.com/photos/jqjoc3O6iVU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">Image Link</a></p>
 
</div>
    </div>
  </body>
</html>
